:root {
  --bg-main-color: #00000080;
  --bg-accent-color: #2d2d2d;
  --accent-color: #f64435;
  --text-accent-color: #ffe498;
  --text-edit-bg-color: #575757;
  --border-color: #3f3f3f;
  --shadow-color: #202020;
  --document-bg-color: #68686850;
  --component-bg-gradient: radical-gradient(circle, #646464e6 0%, #363636e6 100%);
  --smokyWhite: #dddbd8;
  --black: #000000;
  --translucent-black: #00000099;
}

li {
  list-style: none;
  padding-left: 0;
}

p {
  color: var(--smokyWhite);
}

label {
  color: var(--text-accent-color);
}

button {
  background: transparent;
  border: 0;
  outline: 0;
}

input,
textarea {
  background-color: var(--text-edit-bg-color);
  color: var(--smokyWhite);
  font-size: 1.5rem;
}

dialog {
  border: 0;
}

* {
  outline: none;
  box-sizing: border-box;
}

body {
  background: url("../assets/image/background.png") center/cover no-repeat;
  font-family: Roboto, Oxygen, sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  font-size: 1.25rem;
  margin: 0;
}

.app {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.banner {
  background: var(--bg-main-color);
  border-bottom: 1px solid var(--bg-accent-color);
  text-align: center;
}

.banner_title {
  margin: 20px;
  color: var(--accent-color);
}

.control_panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog_submit,
.create_btn {
  margin: 0.1rem 0.2rem;
  text-align: center;
  user-select: none;
  padding: 1rem 3rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  color: white;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  border-radius: 2px;
}

.document {
  height: 100%;
  overflow-y: auto;
  background-color: var(--document-bg-color);
  /* Firefox */
  scrollbar-width: 6px;
  scrollbar-color: var(--bg-accent-color);
  scrollbar-face-color: var(--accent-color);
}

.document::-webkit-scrollbar {
  /* Safari and Chrome */
  background-color: var(--bg-accent-color);
  width: 6px;
}

.document::-webkit-scrollbar-thumb {
  /* Safari and Chrome */
  background-color: var(--accent-color);
}

.footer {
  background: var(--bg-main-color);
  border-top: 1px solid var(--border-color);
  text-align: center;
}

/* -- Dialog -- */
.dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  background-color: var(--document-bg-color);
}

.dialog_container {
  display: flex;
  flex-direction: column;
  padding: 0.4em;
  width: 32em;
  background: var(--bg-accent-color);
  background: var(--component-bg-gradient);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  box-shadow: 2px 2px 20px var(--shadow-color);
}

.form_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.close {
  align-self: flex-end;
  padding: 0.2rem;
  color: var(--accent-color);
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.2rem;
  transition: all 250ms ease;
}

.close:hover,
.close:focus {
  transform: scale(1.5);
  color: var(--shadow-color);
  text-decoration: none;
  cursor: pointer;
}

.dialog_submit {
  align-self: flex-end;
  padding: 0.5rem 1.5rem;
}

/* --PAGE ITEM -- */
.page_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem;
  box-shadow: 2px 2px 6px var(--shadow-color);
  background-color: var(--component-bg-gradient);
}

.page_item_btn {
  padding-right: 0.5rem;
}

.page-item_title {
  color: var(--text-accent-color);
}

.page_item_body {
  width: 100%;
}

/* --Image & Video -- */
.video,
.image {
  display: flex;
  width: 100%;
  height: 15rem;
}

.image_holder,
.video_container {
  flex: 60% 1 1;
}

.image_title,
.video_title {
  flex: 40% 1 1;
  margin-left: 0.5rem;
}

.video_iframe {
  border: none;
}

.video_iframe,
.image_thumbnail {
  width: 100%;
  height: 100%;
}

/* --Note & Todo */
.note,
.todo {
  padding: 0.5rem;
}

.todo-label {
  padding: 1rem;
  color: var(--smokyWhite);
}
